


p {
	font-size: 16px;
	background-color: inherit;

}
h1 {

	color: blue;

}
article {
	display: -webkit-flex;
	-webkit-flex-direction: row;
	-webkit-justify-content: space-between;
	-webkit-flex-wrap: wrap;
	background: linear-gradient(to bottom, #999, white);

}

article > section > h1 {
	font-size: 40;
	color: blue;
	text-shadow: 1px 1px 1px #555;
	text-align: center;
}

.nav {
	display: -webkit-flex;
	-webkit-flex-direction: row;
	-webkit-justify-content: space-between;
	-webkit-flex-wrap: wrap;
	max-width: 100%;
	background: linear-gradient(to bottom, black, #222);
	background-color: black;
	color: white;
	padding: 1%;
	margin: 0;
}


/*.nav {

	display: -webkit-flex;
	-webkit-flex-direction: row;
	-webkit-justify-content: space-between;
	max-width: 100%;
	background: linear-gradient(to bottom, black, #222);
	color: white;

}
*/
/*.header {
	max-width:100%;
	margin: 0;
	padding: 0;
}*/
.header img {
	width: 100%;
}

.nav ul {
	width: 100%;
}
.nav li {
	display: inline;
	
	padding: 2.5%;
	font-family: sans-serif;
}

.nav a {
	text-decoration: none;
	color: white;
}

.container {
	padding: 0%;
	width: 100%;
	background-color: blue;
	margin-left:2%;
	margin-right: 2%;
}

.body {

	width: 100%;
	font-family: sans-serif;
	color: black;
	background: linear-gradient(to bottom, #777, white);

}

/*.profilePic {
	
	display: inline-block;
	max-width: 40%;
	border: solid white;/
	border-radius: 5px;


}
.profilePic img {
	max-width: 100%;*/
	
}
/*.bio {
	width: 45%;
	padding: auto;
	margin-right: 10px;
	float: left;
}
.bio p{

	padding: 0% 2%;
	border: solid gray;
	margin: 4% 0;
	border-radius: 10px;

}*/
.four {
	width: 45%;
	border: solid white;
	float: right;
}
.four img {
	max-width: 100%;
}
.box {
	position: center;
	border: solid white;
}


.album img{

	display: inline-block;
	width: 40%;
	
	border: solid white;
	padding: 1%;
	margin: 2%;
	border-radius: 5px;
}

.album2 img {

	display: inline-block;
	width: 80%;
	
	border: solid white;
	padding: 1%;
	margin: 2%;
	border-radius: 5px;
}

.audioplayer {
	width: 50%;
	height: 50%;
}

.nonsense {
	color: black;
	width: 500px;
	height: 500px;
	border-radius: 50%;
	background-color: orange;
	border: solid black;
	text-align: center;
}

section {
	display: inline-block;
	float: left;
	/*background-color: green;*/
	margin: 10px 10px;
	min-width: 10px;
}

.frame {
	width: 80%;
	border: solid white;
}

.column-content {
	width: 55%;
}

.column-sidebar {
	width: 40%;
}
.column-3 {
	width: 30%;
}

@media screen and (max-width: 999px) {
		.main {
			-webkit-flex-direction: column;
			}	
		}



